@font-face {
  font-family: "Anita";
  src: url("../fonts/anita.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pirulen";
  src: url("../fonts/PirulenRg-Regular.eot");
  src: url("../fonts/PirulenRg-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PirulenRg-Regular.woff2") format("woff2"),
    url("../fonts/PirulenRg-Regular.woff") format("woff"),
    url("../fonts/PirulenRg-Regular.svg#PirulenRg-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Regular.woff2") format("woff2"),
    url("../fonts/Plain-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Light.woff2") format("woff2"),
    url("../fonts/Plain-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Bold.woff2") format("woff2"),
    url("../fonts/Plain-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer";
  src: url("../fonts/cmunbbx.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

.card {
  background-color: transparent;
  min-height: 120px;
}

.bg-ligh {
  color: #000000;
}

.custom-btn-blue {
  background: transparent;
  border-radius: 10px;
  padding: 14px 24px;
  color: #000;
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.custom-btn-blue:hover {
  color: #fff;
}

.custom-btn-blue:focus {
  box-shadow: none;
}

.custom-btn-blue.bordered:hover,
.custom-btn-blue.bordered:focus,
.custom-btn-blue.bg-color:hover,
.custom-btn-blue.bg-color:focus {
  background: transparent;
  border-color: #000;
  color: #00bfff;
}
.bordered {
  border: 1px solid #000000;
  color: var(--btn-blue);
}

.bg-color {
  background: var(--primary-color);
  color: var(--white-color);
}

.card-body {
  min-width: 480px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0.7rem rgba(0, 191, 255, 1) !important;
}

.card-text {
  color: #fff;
}

.headerLeft {
  font-family: Anita !important;
  font-size: 18px !important;
  font-weight: normal !important;
  text-align: left !important;
  color: #00ffff !important;
}

.theme-color-1 {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #00ffff !important;
}
.theme-color-2 {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #496785 !important;
}
.nunito {
  font-family: Pirulen;
}

p {
  margin-bottom: 0.5rem;
}
